.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    &:nth-child(2) {
        background-color: black;
    }
    
    &__container {
        max-width: 90%;
        margin: 25px auto 25px;
        min-height: max-content;
        height: 100%;
    }

    &__back {
        position: absolute;
        top: 30px;
        left: 30px;
        background: none;
    }

    &__title {
        margin-bottom: 35px;
        color: #000;
        font-family: $montserratFont;
        font-size: 18px;
        font-weight: 600;
    }

    &__ownership {
        display: inline-block;
        margin: 30px 0;
        color: #000;
        text-align: center;
        font-family: $montserratFont;
        font-size: 20px;
        font-weight: 600;
    }

    &__method {
        display: inline-block;
        margin: 20px 0 30px;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: $montserratFont;
        font-size: 16px;
        font-weight: 500;
    }

    &__display {
        border-radius: 14px;
        background: #1f85c5;
        max-width: 190px;
        height: 100%;
        padding: 6px 15px;
        margin: 0 auto 20px;
        box-shadow: 0px 0px 11px 0px #d8d8dd;
        color: white;
        font-size: 20px;
        font-family: $montserratFont;
        text-align: center;
    }
}

.stub {
    height: 80px;
}
