.button {
    border: 1px solid white;
    border-radius: 16px;
    margin: 0 auto 30px;
    padding: 0 85px;
    max-width: max-content;
    height: max-content;
    background-color: $mainblue;
    font-family: $nunitoFont;
    &__title {
        padding: 5px 16px;
        margin: 0;
        font-size: 16px;
        line-height: 19.5px;
        letter-spacing: 0.1px;
        font-weight: 700;
        color: white;
    }
}
