.card {
    margin-top: 30px;

    &__images {
    display: flex;
    justify-content: space-between;
    }

    &__logo {
      
    }

    // img {
    //     display: block;
    //     max-width: 430px;
    //     width: 100%;
    //     margin: 0 auto;
    // }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #0f5fa6;
        line-height: 1;
        margin: 18px 0 12px 30px;
        max-width: max-content;
        font-family: $montserratAlternateFont;
    }

    &__description {
        font-size: 16px;
        font-weight: 400;
        margin-left: 40px;
        max-width: 320px;
        text-align: left;   
        margin-bottom: 23px;
        color: #5A9DC8;
    }

    &__buttons {
        // display: flex;
        // flex-direction: row;
        // flex: 1 1 auto;
        // gap: 10px;
        // justify-content: center;
        display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: px;
grid-row-gap: 10px;
    }
}
