.card {
    margin-top: 30px;
    border-radius: 50px;
    background-color: #FFFFFF;
   position: relative;
   background-image: url(../../shared/icons/preOrderCardLogo.svg);
   background-size: auto 470px;
   background-position: left;
   background-repeat: no-repeat;
   width:100%;


    &__images {
   
    }

    &__logo {
      
        
      
    }

    &__image {

        background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
        
    height: 287px;

        
    }

    &__info {
       margin-top: 5px;
        width: 60%;
        margin: 10px auto;
    }

    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #0f5fa6;
        line-height: 1;
        margin: 0px 0 12px 0;
        max-width: max-content;
        font-family: $montserratAlternateFont;
        text-align: left;
    }

    &__description {
        font-size: 16px;
        font-weight: 400;
        max-width: 325px;
        text-align: left;
        margin-bottom: 23px;
        color: #5A9DC8;
    }

    &__buttons {
        // display: flex;
        // flex-direction: row;
        // flex: 1 1 auto;
        // gap: 10px;
        // justify-content: center;
        display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: px;
grid-row-gap: 10px;
    }
}
