.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 27px;
    flex: 1 1 auto;
    margin-bottom: 60px;
    margin-left: 20px;

    &__title {
        color: #000;
        text-align: center;
        font-family: $montserratFont;
        font-size: 18px;
        font-weight: 600;
    }
}
