:root {
    background-color:  #FAFAFF;;
}
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family : $montserratFont;
    width: 100%;
height: 100%;

}
ul {
    padding: 0;
    margin:0;
   
}

body * {
    box-sizing: border-box;    
}

p {
    margin: 0;
}

a  {
    text-decoration: none;
    color: inherit
    
}
li {
    list-style-type: none;
}
button {
    border: none;
    padding: 0;
    margin: 0;
}

<<<<<<< HEAD
=======
html, body {width: auto!important; overflow-x: hidden!important;
    overflow-y: scroll; 
    }
>>>>>>> deals
