$nunitoFont: "Nunito", sans-serif;
$montserratFont: "Montserrat", sans-serif;
$mainblue: #5A9DC8;
$titleTextColor: #0060b7;
$subtitleTextColor: #1F85C5;
$descriptionTextColor: #AFAFAF;
$cardBorderColor: gray;
// $disabledTextColor: ;
// $greenTextColor: ; 
$maxWidthContainer: 1400;
$montserratAlternateFont : 'Montserrat Alternates', sans-serif;