.button {
    border: 1px solid white;
    border-radius: 8px;
    max-width: max-content;
    height: max-content;
    font-family: $montserratFont;
    &__title {
        padding: 5px 16px;
        margin: 0;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 700;
        color: white;
    }
}
