.buttons {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
    height: 35px;
}
.buttons button:first-child {
    margin-left: 20px;
}

.buttons button:last-child {
    margin-right: 20px;
}

.buttons::-webkit-scrollbar {
    display: none;
}