.counter {
    display: flex;
    justify-content: center;
    max-width: 160px;
    width: 100%;
    max-height: 28px;
    margin: 0 auto ;
    padding: 6px 0;
    border-radius: 14px;
    background: white;

    &__controller {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__amount {
        color: #fff;
        font-family: $nunitoFont;
        font-size: 16px;
        font-weight: 700;
    }

    //FIXME написать общие стили для кнопок чтобы не плодить этот кошмар
    &__prev {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        width: 20px;
        height: 20px;
        cursor: none;
    }

    &__next {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        width: 20px;
        height: 20px;
    }

    &__first {
        background: none;
        height: 14px;
    }
}

.active {
    background-color: #5a9dc8;
}
